.main { margin-left: auto; margin-right: auto; text-align: left; font-size: 36px; max-width: 1200px; }

.header { display: flex; flex-direction: row; justify-content: space-between; }
.header a { margin-top: 25px; align-self: left; }
.header h1 { font-family: "Playfair Display", serif; flex-grow: 1; text-align: center; align-self: middle; margin-right: 150px; }

body > h1 { font-size: 50px; }
