<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/default.css">
    <script type="text/javascript"
              src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>
  <body>
    <nav>
      <a href="/">The Jungle Gym</a>
    </nav>
    <div class='main'>
        <div class='header'>
            <a href="/blog"><- Back</a>
            <h1>{{ page.title }}</h1>
        </div>
    <section class="about-main">
      {{ content }}
    </section>
    </div>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>
